/* 
Nombre: [Alejandro González Galindo] 
Curso: [ASIR1] 
Fecha: [05/03/2025] 
Ejercicio: [Aplicar Estilos Básicos] 
*/

body {
    background-color: beige;
    font-family: Arial, sans-serif;
}

p {
    color: blue;
}

h1 {
    margin: 20px;
}

div {
    border: 2px solid black;
}