/* 
Nombre: [Alejandro González Galindo] 
Curso: [ASIR1] 
Fecha: [05/03/2025] 
Ejercicio: [Flexbox] 
*/

.contenedor {
    display: flex;
    justify-content: space-around;
    /* Espacio uniforme entre cajas */
}

.caja {
    width: 100px;
    /* Tamaño de la caja */
    height: 100px;
    /* Tamaño de la caja */
    color: greenyellow;
    /* Color del fondo */
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.negro {
    background-color: black;
}